<div class="wrapper header">
    <mat-expansion-panel class="menu mat-elevation-z0"  hasBackdrop="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>PHORAU</h2>
            </mat-panel-title>
            
        </mat-expansion-panel-header>
        <div class="menu-items">
            <a href="" matRipple>PORTFOLIO</a>
            <a href="" matRipple>SERVICES</a>
            <a href="" matRipple>CONTACT</a>
        </div>
    
  </mat-expansion-panel>
</div>
