.wrapper.home {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
}

.link {
    color: inherit;
    text-decoration: none;
}

.introduction {
    font-size: 20px;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 32px 0;
}